<div id="footer" class="footer" style="background-color:#eeeeee; position:absolute; bottom: 0; width: 100%;">
 
<div class="container">
 <div class="columns is-multiline">            
  <div class="column is-6">
   <p><b>Khatam University</b></p>
   <p class="subtitle">Tehran Institute for Advanced Study (TeIAS)</p>
  </div>
  
  <div class="column is-6">
   <a href="http://pilehvar.github.io/">
    <i class="fas fa-globe fa-1x"></i>
    <span class="subtitle">&nbsp;Instructor Webpge</span>
   </a>
   <br>
   <a href="https://twitter.com/tpilehvar">
    <i class="fas fa-globe fa-1x"></i>
    <span class="subtitle">&nbsp;Instructor @ Twitter</span>
   </a>
 </div>
</div>
</div>
